$pageBg: rgb(171, 210, 236);
$headingColor: rgb(139, 78, 189);
$headingSize: 70px;
$textfieldPadding: 5px;
$keyColor: rgb(92, 92, 92);
$hoverKeyColor: rgb(49, 49, 49);
$clickKeyColor: rgb(41, 41, 41);
$keyShadow: rgb(61, 61, 61);
$keySize: 50px;
$keyMargin: 3px;
$keyboardWidth: 820px;
$keyboardBg: rgb(163, 163, 163);
$keyBoardPadding: 10px;
$keyBoardRadius: 10px;
$keyboardTextdieldIndent: 40px;

$textFieldHeight: 240px;

// animation

$keyDepth: 4px;
$controlKeyColor: rgb(46, 46, 46);

$textColor: white;
